In [3]:
import numpy as np
import os
import pandas as pd
import time
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import linear_model
import statsmodels.api as sm
import scipy.stats as stats
from IPython import get_ipython

In [4]:
get_ipython().run_line_magic('matplotlib', 'inline')
plt.style.use('seaborn-whitegrid')

In [9]:
df = pd.read_csv("parsed_historical_files/coinmarket_historical_dataset")

In [10]:
print(df)

        Unnamed: 0  close_price          date      high       low  market_cap  \
0                0     0.024234  Apr 21, 2019  0.025103  0.023224  30,181,550
1                1     0.024420  Apr 20, 2019  0.025108  0.023321  30,413,567
2                2     0.023604  Apr 19, 2019  0.027755  0.023100  29,396,982
3                3     0.023960  Apr 18, 2019  0.024094  0.022474  29,840,689
4                4     0.023041  Apr 17, 2019  0.024546  0.022436  28,695,599
5                5     0.024323  Apr 16, 2019  0.024829  0.023079  30,292,044
6                6     0.024480  Apr 15, 2019  0.024653  0.022535  30,487,732
7                7     0.023372  Apr 14, 2019  0.024645  0.023125  29,108,357
8                8     0.024341  Apr 13, 2019  0.024815  0.022927  30,315,534
9                9     0.024055  Apr 12, 2019  0.025224  0.020910  29,958,541
10              10     0.022201  Apr 11, 2019  0.023793  0.021044  27,650,278
11              11     0.023504  Apr 10, 2019  0.024026  0.022316  29,272,452
12              12     0.022923  Apr 09, 2019  0.023924  0.020124  28,549,270
13              13     0.020603  Apr 08, 2019  0.022197  0.019882  25,659,463
14              14     0.021455  Apr 07, 2019  0.021896  0.020754  26,720,800
15              15     0.021688  Apr 06, 2019  0.023563  0.019797  27,011,089
16              16     0.022818  Apr 05, 2019  0.025328  0.021510  28,418,259
17              17     0.021570  Apr 04, 2019  0.033174  0.021380  26,863,866
18              18     0.022277  Apr 03, 2019  0.025592  0.020869  27,744,191
19              19     0.023742  Apr 02, 2019  0.026718  0.021824  29,569,395
20              20     0.023743  Apr 01, 2019  0.023997  0.021786  29,570,478
21              21     0.022021  Mar 31, 2019  0.023514  0.020939  27,425,186
22              22     0.022975  Mar 30, 2019  0.026848  0.020418  28,613,298
23              23     0.022945  Mar 29, 2019  0.025865  0.021822  28,575,889
24              24     0.024201  Mar 28, 2019  0.026503  0.024150  30,140,326
25              25     0.026090  Mar 27, 2019  0.026728  0.022169  32,493,645
26              26     0.022091  Mar 26, 2019  0.023426  0.021508  27,512,315
27              27     0.023072  Mar 25, 2019  0.024007  0.021713  28,734,051
28              28     0.022687  Mar 24, 2019  0.024715  0.022095  28,255,035
29              29     0.022635  Mar 23, 2019  0.026237  0.021661  28,190,773
...            ...          ...           ...       ...       ...         ...
304312      304312     0.543730  Feb 22, 2018  0.719904  0.543730  28,247,130
304313      304313     0.673773  Feb 21, 2018  0.800963  0.598887  35,002,950
304314      304314     0.797946  Feb 20, 2018  0.854753  0.674695  41,453,819
304315      304315     0.685039  Feb 19, 2018  0.685039  0.546989  34,249,721
304316      304316     0.557521  Feb 18, 2018  0.656367  0.496841  27,874,236
304317      304317     0.598584  Feb 17, 2018  0.656710  0.373950  29,927,252
304318      304318     0.411478  Feb 16, 2018  0.439052  0.289365  20,490,265
304319      304319     0.331112  Feb 15, 2018  0.331660  0.307430  16,488,297
304320      304320     0.317813  Feb 14, 2018  0.318487  0.277551  15,762,360
304321      304321     0.289559  Feb 13, 2018  0.306943  0.264196  14,361,065
304322      304322     0.285474  Feb 12, 2018  0.310195  0.271983  14,158,450
304323      304323     0.274033  Feb 11, 2018  0.287326  0.240665  13,591,019
304324      304324     0.264313  Feb 10, 2018  0.324885  0.235626  13,108,943
304325      304325     0.306333  Feb 09, 2018  0.311062  0.258432  15,192,979
304326      304326     0.264401  Feb 08, 2018  0.283476  0.239646  13,113,307
304327      304327     0.243453  Feb 07, 2018  0.294565  0.241712  12,074,364
304328      304328     0.283536  Feb 06, 2018  0.288245  0.168062  14,062,332
304329      304329     0.236033  Feb 05, 2018  0.319267  0.188838  11,706,360
304330      304330     0.282410  Feb 04, 2018  0.372019  0.277119  14,006,487
304331      304331     0.365578  Feb 03, 2018  0.402090  0.309588  18,131,311
304332      304332     0.324689  Feb 02, 2018  0.371037  0.251644  16,103,368
304333      304333     0.372400  Feb 01, 2018  0.466178  0.308291  18,469,657
304334      304334     0.429662  Jan 31, 2018  0.461780  0.402514  21,309,639
304335      304335     0.425836  Jan 30, 2018  0.583850  0.402787  21,119,884
304336      304336     0.565557  Jan 29, 2018  0.639537  0.489442  28,049,526
304337      304337     0.635554  Jan 28, 2018  0.757418  0.575345  31,521,118
304338      304338     0.588911  Jan 27, 2018  0.636184  0.378248  29,207,798
304339      304339     0.389605  Jan 26, 2018  0.423525  0.358683  19,322,961
304340      304340     0.403980  Jan 25, 2018  0.459069  0.379545  20,035,907
304341      304341     0.437652  Jan 24, 2018  0.454806  0.370399           -

        open_price     volume
0         0.024426    828,534
1         0.023606  1,018,988
2         0.023959    906,258
3         0.023040  1,317,268
4         0.024306    986,777
5         0.024513    601,921
6         0.023372    907,858
7         0.024341    585,338
8         0.024221    410,953
9         0.022176  1,214,132
10        0.023479    707,907
11        0.022907    502,571
12        0.020603    598,261
13        0.021336    903,517
14        0.021637  1,032,456
15        0.022819  1,460,277
16        0.021510  1,528,364
17        0.022260  1,454,612
18        0.023742  1,814,790
19        0.023746  2,651,010
20        0.022099  2,086,135
21        0.022975  1,069,287
22        0.022883  1,265,886
23        0.024201  1,540,411
24        0.026064  2,095,016
25        0.022239  6,446,269
26        0.022883  1,965,899
27        0.022849  2,738,409
28        0.022437  2,871,194
29        0.023500  2,516,825
...            ...        ...
304312    0.672119  1,243,960
304313    0.800963  2,335,180
304314    0.691316  4,672,240
304315    0.558772  2,024,430
304316    0.604231  2,450,970
304317    0.411716  2,596,670
304318    0.330876    453,345
304319    0.317977     78,841
304320    0.289433     51,601
304321    0.285875     90,628
304322    0.275212    164,851
304323    0.263885     48,383
304324    0.307089    127,310
304325    0.264730     80,067
304326    0.242831    155,448
304327    0.283239    118,334
304328    0.236874    295,204
304329    0.279674     85,824
304330    0.354858     87,646
304331    0.326261    194,770
304332    0.371037    159,291
304333    0.430482    181,672
304334    0.427308    177,145
304335    0.561000    287,412
304336    0.635285    586,946
304337    0.575345  1,745,270
304338    0.389635    842,619
304339    0.402575    560,182
304340    0.438958    925,553
304341    0.386470  1,024,180

[304342 rows x 8 columns]

In [11]:
df.head

<bound method NDFrame.head of         Unnamed: 0  close_price          date      high       low  market_cap  \
0                0     0.024234  Apr 21, 2019  0.025103  0.023224  30,181,550
1                1     0.024420  Apr 20, 2019  0.025108  0.023321  30,413,567
2                2     0.023604  Apr 19, 2019  0.027755  0.023100  29,396,982
3                3     0.023960  Apr 18, 2019  0.024094  0.022474  29,840,689
4                4     0.023041  Apr 17, 2019  0.024546  0.022436  28,695,599
5                5     0.024323  Apr 16, 2019  0.024829  0.023079  30,292,044
6                6     0.024480  Apr 15, 2019  0.024653  0.022535  30,487,732
7                7     0.023372  Apr 14, 2019  0.024645  0.023125  29,108,357
8                8     0.024341  Apr 13, 2019  0.024815  0.022927  30,315,534
9                9     0.024055  Apr 12, 2019  0.025224  0.020910  29,958,541
10              10     0.022201  Apr 11, 2019  0.023793  0.021044  27,650,278
11              11     0.023504  Apr 10, 2019  0.024026  0.022316  29,272,452
12              12     0.022923  Apr 09, 2019  0.023924  0.020124  28,549,270
13              13     0.020603  Apr 08, 2019  0.022197  0.019882  25,659,463
14              14     0.021455  Apr 07, 2019  0.021896  0.020754  26,720,800
15              15     0.021688  Apr 06, 2019  0.023563  0.019797  27,011,089
16              16     0.022818  Apr 05, 2019  0.025328  0.021510  28,418,259
17              17     0.021570  Apr 04, 2019  0.033174  0.021380  26,863,866
18              18     0.022277  Apr 03, 2019  0.025592  0.020869  27,744,191
19              19     0.023742  Apr 02, 2019  0.026718  0.021824  29,569,395
20              20     0.023743  Apr 01, 2019  0.023997  0.021786  29,570,478
21              21     0.022021  Mar 31, 2019  0.023514  0.020939  27,425,186
22              22     0.022975  Mar 30, 2019  0.026848  0.020418  28,613,298
23              23     0.022945  Mar 29, 2019  0.025865  0.021822  28,575,889
24              24     0.024201  Mar 28, 2019  0.026503  0.024150  30,140,326
25              25     0.026090  Mar 27, 2019  0.026728  0.022169  32,493,645
26              26     0.022091  Mar 26, 2019  0.023426  0.021508  27,512,315
27              27     0.023072  Mar 25, 2019  0.024007  0.021713  28,734,051
28              28     0.022687  Mar 24, 2019  0.024715  0.022095  28,255,035
29              29     0.022635  Mar 23, 2019  0.026237  0.021661  28,190,773
...            ...          ...           ...       ...       ...         ...
304312      304312     0.543730  Feb 22, 2018  0.719904  0.543730  28,247,130
304313      304313     0.673773  Feb 21, 2018  0.800963  0.598887  35,002,950
304314      304314     0.797946  Feb 20, 2018  0.854753  0.674695  41,453,819
304315      304315     0.685039  Feb 19, 2018  0.685039  0.546989  34,249,721
304316      304316     0.557521  Feb 18, 2018  0.656367  0.496841  27,874,236
304317      304317     0.598584  Feb 17, 2018  0.656710  0.373950  29,927,252
304318      304318     0.411478  Feb 16, 2018  0.439052  0.289365  20,490,265
304319      304319     0.331112  Feb 15, 2018  0.331660  0.307430  16,488,297
304320      304320     0.317813  Feb 14, 2018  0.318487  0.277551  15,762,360
304321      304321     0.289559  Feb 13, 2018  0.306943  0.264196  14,361,065
304322      304322     0.285474  Feb 12, 2018  0.310195  0.271983  14,158,450
304323      304323     0.274033  Feb 11, 2018  0.287326  0.240665  13,591,019
304324      304324     0.264313  Feb 10, 2018  0.324885  0.235626  13,108,943
304325      304325     0.306333  Feb 09, 2018  0.311062  0.258432  15,192,979
304326      304326     0.264401  Feb 08, 2018  0.283476  0.239646  13,113,307
304327      304327     0.243453  Feb 07, 2018  0.294565  0.241712  12,074,364
304328      304328     0.283536  Feb 06, 2018  0.288245  0.168062  14,062,332
304329      304329     0.236033  Feb 05, 2018  0.319267  0.188838  11,706,360
304330      304330     0.282410  Feb 04, 2018  0.372019  0.277119  14,006,487
304331      304331     0.365578  Feb 03, 2018  0.402090  0.309588  18,131,311
304332      304332     0.324689  Feb 02, 2018  0.371037  0.251644  16,103,368
304333      304333     0.372400  Feb 01, 2018  0.466178  0.308291  18,469,657
304334      304334     0.429662  Jan 31, 2018  0.461780  0.402514  21,309,639
304335      304335     0.425836  Jan 30, 2018  0.583850  0.402787  21,119,884
304336      304336     0.565557  Jan 29, 2018  0.639537  0.489442  28,049,526
304337      304337     0.635554  Jan 28, 2018  0.757418  0.575345  31,521,118
304338      304338     0.588911  Jan 27, 2018  0.636184  0.378248  29,207,798
304339      304339     0.389605  Jan 26, 2018  0.423525  0.358683  19,322,961
304340      304340     0.403980  Jan 25, 2018  0.459069  0.379545  20,035,907
304341      304341     0.437652  Jan 24, 2018  0.454806  0.370399           -

        open_price     volume
0         0.024426    828,534
1         0.023606  1,018,988
2         0.023959    906,258
3         0.023040  1,317,268
4         0.024306    986,777
5         0.024513    601,921
6         0.023372    907,858
7         0.024341    585,338
8         0.024221    410,953
9         0.022176  1,214,132
10        0.023479    707,907
11        0.022907    502,571
12        0.020603    598,261
13        0.021336    903,517
14        0.021637  1,032,456
15        0.022819  1,460,277
16        0.021510  1,528,364
17        0.022260  1,454,612
18        0.023742  1,814,790
19        0.023746  2,651,010
20        0.022099  2,086,135
21        0.022975  1,069,287
22        0.022883  1,265,886
23        0.024201  1,540,411
24        0.026064  2,095,016
25        0.022239  6,446,269
26        0.022883  1,965,899
27        0.022849  2,738,409
28        0.022437  2,871,194
29        0.023500  2,516,825
...            ...        ...
304312    0.672119  1,243,960
304313    0.800963  2,335,180
304314    0.691316  4,672,240
304315    0.558772  2,024,430
304316    0.604231  2,450,970
304317    0.411716  2,596,670
304318    0.330876    453,345
304319    0.317977     78,841
304320    0.289433     51,601
304321    0.285875     90,628
304322    0.275212    164,851
304323    0.263885     48,383
304324    0.307089    127,310
304325    0.264730     80,067
304326    0.242831    155,448
304327    0.283239    118,334
304328    0.236874    295,204
304329    0.279674     85,824
304330    0.354858     87,646
304331    0.326261    194,770
304332    0.371037    159,291
304333    0.430482    181,672
304334    0.427308    177,145
304335    0.561000    287,412
304336    0.635285    586,946
304337    0.575345  1,745,270
304338    0.389635    842,619
304339    0.402575    560,182
304340    0.438958    925,553
304341    0.386470  1,024,180

[304342 rows x 8 columns]>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304342 entries, 0 to 304341
Data columns (total 8 columns):
Unnamed: 0     304342 non-null int64
close_price    304342 non-null float64
date           304342 non-null object
high           304342 non-null float64
low            304342 non-null float64
market_cap     304342 non-null object
open_price     304342 non-null float64
volume         304342 non-null object
dtypes: float64(4), int64(1), object(3)
memory usage: 18.6+ MB

In [13]:
df.sort_values(['date'], ascending = [True], inplace = True)
df.head()

,Unnamed: 0,close_price,date,high,low,market_cap,open_price,volume
129457,129457,0.128198,"Apr 01, 2014",0.134950,0.123203,"4,916,060",0.123203,"36,177"
93682,93682,0.008757,"Apr 01, 2014",0.009319,0.008588,"68,458,134",0.008785,"172,709"
174882,174882,0.005239,"Apr 01, 2014",0.006283,0.004757,"332,063",0.004935,"19,790"
15537,15537,1.150000,"Apr 01, 2014",1.230000,1.100000,"3,569,122",1.160000,"85,078"
68952,68952,13.130000,"Apr 01, 2014",13.670000,12.760000,"355,878,160",12.770000,"7,346,120"

In [14]:
print (df.iloc[:,2])

129457    Apr 01, 2014
93682     Apr 01, 2014
174882    Apr 01, 2014
15537     Apr 01, 2014
68952     Apr 01, 2014
191095    Apr 01, 2014
224970    Apr 01, 2014
212815    Apr 01, 2014
39101     Apr 01, 2014
63068     Apr 01, 2014
279995    Apr 01, 2014
134397    Apr 01, 2014
10453     Apr 01, 2014
23206     Apr 01, 2014
6417      Apr 01, 2014
183039    Apr 01, 2014
83178     Apr 01, 2014
154473    Apr 01, 2014
253053    Apr 01, 2014
247098    Apr 01, 2015
149590    Apr 01, 2015
62703     Apr 01, 2015
90103     Apr 01, 2015
212450    Apr 01, 2015
51116     Apr 01, 2015
299613    Apr 01, 2015
164443    Apr 01, 2015
6052      Apr 01, 2015
220275    Apr 01, 2015
103876    Apr 01, 2015
              ...
144570    Sep 30, 2018
262112    Sep 30, 2018
275179    Sep 30, 2018
32042     Sep 30, 2018
254143    Sep 30, 2018
110429    Sep 30, 2018
53003     Sep 30, 2018
118763    Sep 30, 2018
25962     Sep 30, 2018
171558    Sep 30, 2018
123161    Sep 30, 2018
296338    Sep 30, 2018
164865    Sep 30, 2018
241694    Sep 30, 2018
286594    Sep 30, 2018
66115     Sep 30, 2018
138145    Sep 30, 2018
183286    Sep 30, 2018
188965    Sep 30, 2018
261573    Sep 30, 2018
119021    Sep 30, 2018
17247     Sep 30, 2018
192539    Sep 30, 2018
155837    Sep 30, 2018
75861     Sep 30, 2018
302254    Sep 30, 2018
98410     Sep 30, 2018
13439     Sep 30, 2018
46965     Sep 30, 2018
77649     Sep 30, 2018
Name: date, Length: 304342, dtype: object

In [16]:
target = df.iloc[:,2].values
data = df.iloc[:,4:6]
print(data.head())

              low   market_cap
129457   0.123203    4,916,060
93682    0.008588   68,458,134
174882   0.004757      332,063
15537    1.100000    3,569,122
68952   12.760000  355,878,160

In [ ]:
regression = linear_model.LinearRegression()

regression.fit(data, target)

X = [
    [0,0],
    [10,10],
]

results = regression.predict(X)
print(results)